@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@fontsource/cabin';
@import '@fontsource/herr-von-muellerhoff';
@import '@fontsource/source-sans-3';

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

#simplify-checkout-embed-frame {

  border: none;

  height: 375px; 

  overflow: hidden;

}

